@media screen and (min-width: 1024px)
    a:hover
        transition: .4s
    .menu
        li:hover
            a 
                color: #070707
    .change-language
        a:hover
            color: #070707
