@font-face {
  font-family: 'Gilroy';
  src: url("../fonts/Gilroy-Medium.eot");
  src: url("../fonts/Gilroy-Medium.eot?#iefix") format("embedded-opentype") url("../fonts/Gilroy-Medium.ttf") format("truetype") url("../fonts/Gilroy-Medium.woff") format("woff") url("../fonts/Gilroy-Medium.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url("Gilroy-Bold.eot");
  src: url("Gilroy-Bold.eot?#iefix") format("embedded-opentype") url("Gilroy-Bold.ttf") format("truetype") url("Gilroy-Bold.woff") format("woff") url("Gilroy-Bold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}

*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul,
ol {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

ul,
ol {
  list-style-type: none;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

a {
  text-decoration: none;
  display: block;
}

* {
  font-family: 'Gilroy', sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #070707;
}

.container {
  max-width: 940px;
  padding: 0px 30px;
  margin: 0 auto;
}

.header__content {
  padding: 31px 0px;
  border-bottom: 1px solid #828282;
  -webkit-transform: matrix(1, 0, 0, 1, 0, 0);
          transform: matrix(1, 0, 0, 1, 0, 0);
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu a {
  color: #828282;
  font-weight: 600;
  -webkit-transition: .4s;
  transition: .4s;
}

.autor {
  padding: 40px 0px 105px 0px;
}

.autor__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.autor__title {
  font-size: 57px;
  font-weight: 600;
  line-height: 59px;
  max-width: 320px;
}

.autor__description {
  width: 33.333%;
}

.autor__photo {
  margin-top: 30px;
}

.change-language {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transform: rotate(-90deg) translateX(33%) translateY(100%);
          transform: rotate(-90deg) translateX(33%) translateY(100%);
}

.change-language a {
  color: #828282;
  font-weight: 600;
  -webkit-transition: .4s;
  transition: .4s;
}

.change-language span {
  margin: 0px 3px;
}

.about {
  padding: 120px 0px 107px 0px;
  background-color: #F6F6F6;
}

.about__descr {
  margin: 18px auto 0px auto;
  max-width: 485px;
}

.about__descr p {
  text-align: center;
}

.about__descr p + p {
  margin-top: 30px;
}

.subtitle {
  text-align: center;
  font-size: 34px;
  font-weight: 600;
}

.skills {
  padding: 91px 0px 110px 0px;
}

.skills__text {
  text-align: center;
  margin: 70px 0px 87px 0px;
}

.skills__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.skills__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-flex: 25%;
      -ms-flex: 25%;
          flex: 25%;
}

.skills__item svg {
  width: 90px;
  height: 90px;
}

.skills__item p {
  font-size: 14px;
  color: #828282;
  font-weight: 600;
  max-width: 100px;
  text-align: center;
  margin: 23px 0px 41px 0px;
}

.stars {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 170px;
  width: 100%;
}

.stars svg {
  width: 25px;
  height: 25px;
}

.stars_unactive {
  fill: #E5E5E5;
}

.portfolio {
  background-color: #F6F6F6;
  padding: 112px 0px 96px 0px;
}

.portfolio .subtitle {
  margin-bottom: -60px;
}

.portfolio__img {
  margin-bottom: 45px;
  margin-top: 100px;
}

.portfolio__link {
  text-align: center;
}

.portfolio__link a {
  text-decoration: underline;
}

.contacts {
  padding: 114px 0px 123px 0px;
}

.contacts__text {
  text-align: center;
  max-width: 280px;
  margin: 20px auto 30px auto;
}

.contacts__btn {
  width: 180px;
  height: 42px;
  background-color: #070707;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  font-weight: 600;
  border-radius: 25px;
  margin: 0 auto;
}

.contacts__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 85px auto 45px auto;
  max-width: 350px;
  width: 100%;
}

.contacts__copyright {
  text-align: center;
  margin: 0 auto;
  max-width: 240px;
  width: 100%;
  font-size: 14px;
  color: #828282;
}

@media screen and (min-width: 1024px) {
  a:hover {
    -webkit-transition: .4s;
    transition: .4s;
  }
  .menu li:hover a {
    color: #070707;
  }
  .change-language a:hover {
    color: #070707;
  }
}

@media screen and (min-width: 546px) {
  .autor__mobile {
    display: none;
  }
  .hamburger {
    display: none;
  }
  .change-language_menu {
    display: none;
  }
}

@media screen and (max-width: 991px) {
  .skills {
    padding: 91px 0px 80px 0px;
  }
  .skills__items {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .skills__item {
    -webkit-box-flex: 50%;
        -ms-flex: 50%;
            flex: 50%;
    margin-bottom: 40px;
  }
}

@media screen and (max-width: 768px) {
  .skills__item {
    -webkit-box-flex: 100%;
        -ms-flex: 100%;
            flex: 100%;
  }
}

@media screen and (max-width: 545px) {
  .header {
    position: relative;
    visibility: hidden;
    height: 0;
  }
  .menu {
    position: absolute;
    top: -100vh;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    background-color: #ffffff;
    width: 100%;
    height: 100vh;
    z-index: 2;
    visibility: visible;
    padding-top: 58px;
    -webkit-transition: .4s;
    transition: .4s;
  }
  .menu li {
    margin-bottom: 68px;
  }
  .menu li a {
    font-size: 34px;
  }
  .menu_active {
    top: 0;
    -webkit-transition: .4s;
    transition: .4s;
  }
  .autor {
    padding: 65px 0px 83px 0px;
  }
  .autor__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .autor__photo {
    margin-top: 36px;
  }
  .autor__description {
    margin-top: 23px;
  }
  .autor__desctop {
    display: none;
  }
  .autor__mobile {
    width: 100%;
  }
  .change-language {
    display: none;
  }
  .change-language_menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: fixed;
    z-index: 2;
    right: 30px;
    bottom: 57px;
  }
  .change-language_active {
    visibility: visible;
  }
  .hamburger {
    width: 30px;
    height: 20px;
    position: fixed;
    top: 80px;
    right: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    visibility: visible;
  }
  .hamburger span {
    width: 30px;
    height: 4px;
    background-color: #000;
    position: relative;
    display: block;
  }
  .hamburger span::before {
    content: '';
    width: 30px;
    height: 4px;
    background-color: #000;
    position: absolute;
    top: 7px;
    left: 0;
    -webkit-transition: .4s;
    transition: .4s;
  }
  .hamburger span::after {
    content: '';
    width: 30px;
    height: 4px;
    background-color: #000;
    position: absolute;
    top: -7px;
    left: 0;
    -webkit-transition: .4s;
    transition: .4s;
  }
  .hamburger_active span {
    visibility: hidden;
  }
  .hamburger_active span::before {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    visibility: visible;
    top: 0;
    background-color: #828282;
    -webkit-transition: .4s;
    transition: .4s;
  }
  .hamburger_active span::after {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    visibility: visible;
    top: 0;
    background-color: #828282;
    -webkit-transition: .4s;
    transition: .4s;
  }
  .about {
    padding: 81px 0px 76px 0px;
  }
  .skills {
    padding: 83px 0px 100px 0px;
  }
  .portfolio {
    padding: 80px 0px;
  }
  .portfolio .subtitle {
    margin-bottom: -30px;
  }
  .portfolio__img {
    margin-bottom: 35px;
    margin-top: 77px;
  }
  .contacts {
    padding: 82px 0px 90px 0px;
  }
}
/*# sourceMappingURL=styles.css.map */